<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="generator" content="rustdoc">
    <title>$title$</title>

    <link href="../css/bootstrap.css" rel="stylesheet">
    <link href="../css/bootstrap-theme.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../css/rust-book.css">
    <link rel="stylesheet" type="text/css" href="../css/editor.css">

  <style type="text/css">code{white-space: pre;}</style>
  <style type="text/css">
table.sourceCode, tr.sourceCode, td.lineNumbers, td.sourceCode {
  margin: 0; padding: 0; vertical-align: baseline; border: none; }
table.sourceCode { width: 100%; line-height: 100%; }
td.lineNumbers { text-align: right; padding-right: 4px; padding-left: 4px; color: #aaaaaa; border-right: 1px solid #aaaaaa; }
td.sourceCode { padding-left: 5px; }
code > span.kw { color: #007020; font-weight: bold; }
code > span.dt { color: #902000; }
code > span.dv { color: #40a070; }
code > span.bn { color: #40a070; }
code > span.fl { color: #40a070; }
code > span.ch { color: #4070a0; }
code > span.st { color: #4070a0; }
code > span.co { color: #60a0b0; font-style: italic; }
code > span.ot { color: #007020; }
code > span.al { color: #ff0000; font-weight: bold; }
code > span.fu { color: #06287e; }
code > span.er { color: #ff0000; font-weight: bold; }
  </style>


<!-- <script type="text/javascript" src="js/jquery/jquery-1.7.1.min.js"></script> -->
<script type="text/javascript" src="../js/jquery/jquery-2.0.3.min.js"></script>
<script type="text/javascript" src="../js/angular/angular.js"></script>
<script type="text/javascript" src="../js/bootstrap/bootstrap.js"></script>
<script src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript"></script>

</head>
<body class="rustdoc" data-spy="scroll" data-target=".bs-docs-sidebar" ng-app="liquidDemo" ng-controller="LiquidDemoCtrl">

    <div id="nav">
       <button id="toggle-nav">
         <span class="sr-only">Toggle navigation</span>
         <span class="bar"></span>
         <span class="bar"></span>
         <span class="bar"></span>
       </button>
    </div>

<div id='toc' class='mobile-hidden'>
<ul class='chapter'>
<li><a href='README.html'><b>1.</b> Introduction</a>
</li>
<li><a href='basic.html'><b>2.</b> I: The Basics</a>
<ul class='section'>
<li><a href='installing-rust.html'><b>2.1.</b> Installing Rust</a>
</li>
<li><a href='hello-world.html'><b>2.2.</b> Hello, world!</a>
</li>
<li><a href='hello-cargo.html'><b>2.3.</b> Hello, Cargo!</a>
</li>
<li><a href='variable-bindings.html'><b>2.4.</b> Variable Bindings</a>
</li>
<li><a href='if.html'><b>2.5.</b> If</a>
</li>
<li><a href='functions.html'><b>2.6.</b> Functions</a>
</li>
<li><a href='comments.html'><b>2.7.</b> Comments</a>
</li>
<li><a href='compound-data-types.html'><b>2.8.</b> Compound Data Types</a>
</li>
<li><a href='match.html'><b>2.9.</b> Match</a>
</li>
<li><a href='looping.html'><b>2.10.</b> Looping</a>
</li>
<li><a href='strings.html'><b>2.11.</b> Strings</a>
</li>
<li><a href='arrays-vectors-and-slices.html'><b>2.12.</b> Arrays, Vectors, and Slices</a>
</li>
<li><a href='standard-input.html'><b>2.13.</b> Standard Input</a>
</li>
<li><a href='guessing-game.html'><b>2.14.</b> Guessing Game</a>
</li>
</ul>
</li>
<li><a href='intermediate.html'><b>3.</b> II: Intermediate Rust</a>
<ul class='section'>
<li><a href='more-strings.html'><b>3.1.</b> More Strings</a>
</li>
<li><a href='crates-and-modules.html'><b>3.2.</b> Crates and Modules</a>
</li>
<li><a href='testing.html'><b>3.3.</b> Testing</a>
</li>
<li><a href='pointers.html'><b>3.4.</b> Pointers</a>
</li>
<li><a href='ownership.html'><b>3.5.</b> Ownership</a>
</li>
<li><a href='patterns.html'><b>3.6.</b> Patterns</a>
</li>
<li><a href='method-syntax.html'><b>3.7.</b> Method Syntax</a>
</li>
<li><a href='closures.html'><b>3.8.</b> Closures</a>
</li>
<li><a href='iterators.html'><b>3.9.</b> Iterators</a>
</li>
<li><a href='generics.html'><b>3.10.</b> Generics</a>
</li>
<li><a href='traits.html'><b>3.11.</b> Traits</a>
</li>
<li><a href='static-and-dynamic-dispatch.html'><b>3.12.</b> Static and Dynamic Dispatch</a>
</li>
<li><a href='macros.html'><b>3.13.</b> Macros</a>
</li>
<li><a href='concurrency.html'><b>3.14.</b> Concurrency</a>
</li>
<li><a href='error-handling.html'><b>3.15.</b> Error Handling</a>
</li>
<li><a href='documentation.html'><b>3.16.</b> Documentation</a>
</li>
</ul>
</li>
<li><a href='advanced.html'><b>4.</b> III: Advanced Topics</a>
<ul class='section'>
<li><a href='ffi.html'><b>4.1.</b> FFI</a>
</li>
<li><a href='unsafe.html'><b>4.2.</b> Unsafe Code</a>
</li>
<li><a href='advanced-macros.html'><b>4.3.</b> Advanced Macros</a>
</li>
<li><a href='plugins.html'><b>4.4.</b> Compiler Plugins</a>
</li>
</ul>
</li>
<li><a href='conclusion.html'><b>5.</b> Conclusion</a>
</li>
<li><a href='glossary.html'><b>6.</b> Glossary</a>
</li>
</ul>
</div>
  
<div id='page-wrapper'>
<div id='page'>
 
$if(notitle)$

$else$
<h1 class="title">$title$</h1>
$endif$
$body$
</div>
</div>

<!-- JavaScript below! ============================================== -->

  <script src="../js/ace/ace.js" type="text/javascript" charset="utf-8"></script> 
  <script src="../js/ace/theme-monokai.js" type="text/javascript" charset="utf-8"></script>
  <script src="../js/ace/mode-haskell.js"  type="text/javascript" charset="utf-8"></script>
  <script src="../js/liquid/tooltip.js"></script> 
  <script src="../js/liquid/annot.js"></script> 
  <script src="../js/liquid/config.js"></script> 
  <script src="../js/liquid/liquid.js"></script>


  <!-- rust nav JS --> 
  <script type="text/javascript">
        window.playgroundUrl = "";
  </script>
  
<script type="text/javascript">
document.addEventListener("DOMContentLoaded", function(event) {
  document.getElementById("toggle-nav").onclick = toggleNav;
  function toggleNav() {
    var toc = document.getElementById("toc");
    var pagewrapper = document.getElementById("page-wrapper");
    toggleClass(toc, "mobile-hidden");
    toggleClass(pagewrapper, "mobile-hidden");
  };

  function toggleClass(el, className) {
     // from http://youmightnotneedjquery.com/
     if (el.classList) {
       el.classList.toggle(className);
     } else {
       var classes = el.className.split(' ');
       var existingIndex = classes.indexOf(className);

       if (existingIndex >= 0) {
         classes.splice(existingIndex, 1);
       } else {
         classes.push(className);
       }

       el.className = classes.join(' ');
     }
  }

  // The below code is used to add prev and next navigation links to the bottom
  // of each of the sections.
  // It works by extracting the current page based on the url and iterates over
  // the menu links until it finds the menu item for the current page. We then
  // create a copy of the preceding and following menu links and add the
  // correct css class and insert them into the bottom of the page.
  var toc = document.getElementById('toc').getElementsByTagName('a');
  var href = document.location.pathname.split('/').pop();
  if (href === 'index.html' || href === '') {
    href = 'README.html';
  }

  for (var i = 0; i < toc.length; i++) {
    if (toc[i].attributes['href'].value === href) {
      var nav = document.createElement('p');
      if (i > 0) {
        var prevNode = toc[i-1].cloneNode(true);
        prevNode.className = 'left';
        nav.appendChild(prevNode);
      }
      if (i < toc.length - 1) {
        var nextNode = toc[i+1].cloneNode(true);
        nextNode.className = 'right';
        nav.appendChild(nextNode);
      }
      document.getElementById('page').appendChild(nav);
      break;
    }
  }

});
</script>
</body>
</html>
